* {
    box-sizing: border-box;
}

/* COMMON *//////////////////////////////////////////////////////////////////////////////////
header {
    background-color: #FF9045;
    width: 100%;
    height: 367px;
    display: flex;
    
}

header img#img_en_tete {
    height: 100%;
    flex-shrink: 0;
}

h1{
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Bobby Jones Soft;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3{
    color: #000;
    font-family: Bobby Jones Soft;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.width-33 {
    width: 33%; 
}

.width-full {
    width: 100%; 
}

.height-full {
    height: 100%;
}

.border {
    border: 1px solid blue;
}

#center-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#description {
    display: block;
    width: 66%;
}

#img-product {
    height: 300px;
}

#choice {
    width: 33%;
}


#content {
    /* Aligne sur la mm ligne */
    display: flex;
}

/* Mobile *////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 767px) {
    header {
    
    }
  }

/* desktop *///////////////////////////////////////////////////////////////////////////////////
@media (min-width: 768px) {

}

header {
    background-color: #FF9045;
    width: 100%;
    height: 367px;
    display: flex;
}

#logo {
    width: 30%;
    height: auto;
}

#img-menu{
    width: 100%;
    height: auto;
}

#img-pdt {
    width: 430px;
    height: 350px;
    flex-shrink: 0;
}


h1{
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Bobby Jones Soft;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3{
    color: #000;
    font-family: Bobby Jones Soft;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p { 
    background: linear-gradient(to top, rgba(0, 0, 0 0.5), rgb(253, 253, 253)); 
    /* border: 2px solid black; */
    margin-right: 20px; /* Espacement horizontal entre les <divs> */
    display: inline-block; /* Pour qu'elles soient alignés côte à côte */
    padding: 10px; /* Espace entre le texte et la bordure */
    color: #000;
    font-family: RocaOne-Lt;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

footer{
    width: 1290px;
    height: 299px;
    flex-shrink: 0;
    background-color: #FF9045;
    width: 100%;
    height: 367px;
    display: flex;
}

    